<% 
    let menus = [
        { label : '<i class="fa fa-dashboard fa-fw"></i> Dashboard',  url :  '/admin/dashboard'},
        { label : '<i class="fa fa-user fa-fw"></i> Admins', url : '#', subMenus : [
            { label : '<i class="fa fa-eye fa-fw"></i> View Admins',  url :  '/admin/admin-users'},
            { label : '<i class="fa fa-edit fa-fw"></i> Create Admin',  url :  '/admin/edit-admin'}
        ]},/*
        { label : '<i class="fa fa-user fa-fw"></i> Users', url : '#', subMenus : [
            { label : '<i class="fa fa-eye fa-fw"></i> View  Users',  url :  '/admin/users'},
            { label : '<i class="fa fa-edit fa-fw"></i> Create User',  url :  '/admin//edit-user'}
        ]},
        { label : '<i class="fa fa-user fa-fw"></i> Trainers', url : '#', subMenus : [ 
            { label : '<i class="fa fa-eye fa-fw"></i> View  Trainers',  url :  '/admin/trainers'},
            { label : '<i class="fa fa-edit fa-fw"></i> Create Trainer',  url :  '/admin//edit-trainer'}
        ]},*/
        { label : '<i class="fa fa-wrench fa-fw"></i> Pages', url : '#', subMenus : [
            { label : '<i class="fa fa-eye fa-fw"></i> View  Pages',  url :  '/admin/pages'},
            { label : '<i class="fa fa-edit fa-fw"></i> Create Page',  url :  '/admin/edit-page'}
        ]},
        { label : '<i class="fa fa-wrench fa-fw"></i> Banners', url : '#', subMenus : [
            { label : '<i class="fa fa-eye fa-fw"></i> View  Banners',  url :  '/admin/banners'},
            { label : '<i class="fa fa-edit fa-fw"></i> Create Banner',  url :  '/admin/banner'}
        ]},
        { label : '<i class="fa fa-cog fa-fw"></i> Settings', url :  '/admin/setting'},
        { label : '<i class="fa fa-sign-out fa-fw"></i> Logout', url :  '/admin/logout'}
    ]
%>

<div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

               
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                </li>


                <% for(var i=0; i < menus.length; i++) {%>
                    <% if(menus[i].subMenus && menus[i].subMenus.length > 0) {%>
                        <li>
                            <a href="<%= menus[i].url %>"><%- menus[i].label %> 
                            <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            <% for(var j=0; j < menus[i].subMenus.length; j++) {%>
                                <li><a href="<%= menus[i].subMenus[j].url %>"><%- menus[i].subMenus[j].label %></a></li>
                            <% } %>
                        </ul></li>
                    <% } else{  %>
                        <li><a href="<%= menus[i].url %>"><%- menus[i].label %></a></li>
                    <% } %>
                <% } %>

            </ul>

        </div>
        <!-- /.sidebar-collapse -->
</div>